<div class="search-container">
  <input type="text" #searchInput placeholder="Search news..." (keyup)="searchNews($event)" />
  <button (click)="resetSearch(searchInput)">Reset</button>

  <label for="select">Page Size :</label>


</div>

<div *ngIf="isLoading">Loading...</div>

<div *ngIf="!isLoading && totalStories === 0">
  <p>No news articles found.</p>
</div>

<div *ngFor="let news of filteredNewsList | paginate: { itemsPerPage: pageSize, currentPage: pageNumber,totalItems : totalStories }" >
    <a href="{{news.url}}" target="_blank">{{news.title}}</a>
    <hr>
</div>

<div class="pagination-container">
  <pagination-controls *ngIf="totalStories>0" (pageChange)="pageChanged($event)"  ></pagination-controls>
  <select (change)="onDropdownChange($event)">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="40">40</option>
  </select>
</div>